
.container{
    max-width: 600px;
    height: auto;
    background-color: hsl(194, 73%, 71%);
    margin: 0 auto;
} 

.container img{
    width: 100%;
}

.container h2{
    text-align: center;
    color: blue;
}