
.container{
    max-width: 600px;
    height: auto;
    background-color: hsl(194, 73%, 71%);
    margin: 0 auto;
} 
img {
    width: 45%;
    align-content: center;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
}

.container h2{
    text-align: center;
    color: white;
    
}

.container a{
    text-decoration: none;
}



